*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body{
    /* font-family: 'Muli', sans-serif;
    Arial, Helvetica, sans-serif */
    background-color: #EDF1FA;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
.c-container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-hr{
    margin: 70px 0px 0px 0px;
}

p{
    line-height: 1.5rem;
}
/* nav bar */
nav{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    position: fixed;
    z-index: 1;
}
#logo{
    display: inline-block;
    line-height: 80px;
    margin: 0 2rem;
}
#logo img{
    width: 140px;
    height: 100px;
}
#nav-links{
    float: right;
}
#nav-links ul li{
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
}
#nav-links ul li a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 87px;
    cursor: pointer;
}
.dropdown-size{
    font-size: 1.3rem;
    margin-left: .5rem;
}
.dropdown button{
    border: none;
    background: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    margin: 0 15px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 87px;
}
#nav-links ul li a:hover,.dropdown button:hover{
    color: #0066CC;
}
.dropdown{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.dropdown-options{
    position: absolute;
    overflow: auto;
    background: #ECF1F9;
    width: 20rem;
    border-radius: 3px;
    display: none;
    transition: all .5s;
}
.first-option,.second-option{
    padding: .8rem;
}
.dropdown-options a{
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    margin-left: 10px;
}
.dropdown-options a:hover{
    color: #ED1B24;
    transition: .5s;
}
.dropdown-options hr{
    border: none;
    height: 1px;
    background-color: #333;
    padding: 0;
    margin: 0;
}
.dropdown:hover .dropdown-options{
    display: block;
    transition: all .5s;
}
#menu-btn{
    font-size: 32px;
    color: #000;
    float: right;
    line-height: 82px;
    margin: 0 25px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* showcase */

#showcase-section{
    width: 100%;
    height: 25rem;
    background: url(../imgs/about-us-showcase.png) no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 100px #000;
}
#showcase-section h1{
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 13rem;
}
.showcase-section-text{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.1rem;
}
h2{
    margin-bottom: 3rem;
}

/* vision section */

#vision .c-container{
    text-align: center;
}
#vision .left-section{
    width: 70%;
    height: 13rem;
    padding-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 2.3rem;
}
#vision .right-section{
    width: 29%;
    height: 100%;
}
#vision .left-section,#vision .right-section{
    display: inline-block;
    overflow: hidden;
}
/* mission section */
#mission{
    font-size: 1.1rem;
    line-height: 2rem;
    background: #EDF1FA;
    text-align: center;
    padding: 2rem;
    font-weight: bold;
}
#mission p{
    color: #545454;
}

/* service section */
.service-section-inner-container{
    width: 100%;
    margin: 2rem auto;
}
.service-section-inner-container .hide{
    display: none;
}
.content-container{
    display: inline-block;
    width: 60%;
    height: 100%;
    padding-left: 2rem;
    overflow: hidden;
    
}
.img-container{
    display: inline-block;
    width: 39%;
    height: 100%;
    text-align: center;
    overflow: hidden;   
}
.content-container h2{
    margin-bottom: 2rem;
}

/* Contact Us */
.contact-us-text{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 3rem;
    font-weight: bold;
    text-align: center;
}
#contact-section{
    background: #EDF1FA;
    background-size: cover;
    background-position: center;
    padding-top: 1px;
}
.contact-container{
    width: 100%;
}
.contact-container .left-section{
    width: 50%;
    display: inline-block;
    padding: 3rem 2rem ;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 8px 6px -6px black;
}
.contact-container .right-section{
    display: inline-block;
    width: 40%;
    padding-left: 5rem;
}
.right-section p,.right-section h4{
    line-height: 2rem;
}
#contact-section i{
    color: #F7022E;
}
.textarea{
    height: 20px;
}
/* footer */
#footer{
    background: url("../imgs/footer-1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
#footer .container{
    padding-top: 2rem;
    padding-left: 5%;
    padding-bottom: 3rem;
}
#footer .first-section,#footer .second-section,#footer .third-section{
    display: inline-block;
    width: 30%;
}
#footer .second-section{
    margin-left: 2rem;
}
.second-section a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    line-height: 2.3rem;
}
.third-section a{
    color: #ffffff;
    transition: .5s;
    margin-left: .8rem;
    font-size: 1.1rem;
}
.third-section a:hover,.second-section a:hover{
    color: #ED1B24;
    transition: .5s;
}
/* ------------------------------------------------------------------------- */

/* media query */
@media(max-width: 992px){
    .container{
        min-width: 100%;
    }
    /* nav bar */
    #menu-btn{
        display: block;
        line-height: 95px;
        padding-top: .8rem;
    }
    nav .container{
        width: 100%;
        padding: 0;
    }
    #nav-links{
        position: fixed;
        background: #2c3e50;
        width: 100vw;
        height: 100vh;
        top: 95px;
        text-align: center;
        transition: all .5s;
        left: -200%;
    }
    #nav-links ul{
        padding: 0px;
    }
    #nav-links ul li{
        display: block;
    }
    #nav-links .dropdown button{
        display: block;
        width: 100%;
        font-size: 20px;
        color: #ffffff;
    }
    .dropdown{
        display: block;
        position: relative;
        z-index: 1;
    }
    .dropdown-options{
        overflow: auto;
        background: #56799c;
        width: 100%;
        border-radius: 0px;
        display: block;
        transition: all .5s;
    }
    .dropdown-options a{
        color: #ffffff
    }
    #nav-links ul li a{
        font-size: 20px;
        color: #ffffff;
    }
    #nav-links ul li a.active,#nav-links ul li a:hover{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ #nav-links{
        left: 0px;
        transition: all .5s;
    }
    /* service box section */
    .service-box-section .card{
        display: inline-block;
        translate: 0px -191px;
        margin: 0 1rem;
        transition: .5s;
    }
}
/* media query for tablet */
@media(max-width: 780px){
    nav{
        height: 95px;
    }
    #logo img{
        width: 100px;
        height: 90px;
    }
    #logo,#menu-btn{
        line-height: 65px;
    }
    #showcase-section{
        height: 20rem;
    }
    #showcase-section h1{
        font-size: 30px;
        margin-top: 10.5rem;
    }
    /* vision section */

    #vision .c-container{
        text-align: center;
    }
    #vision .left-section{
        width: 100%;
        height: auto;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        line-height: 2.3rem;
        display: inline-block;
        overflow: auto;
    }
    #vision .right-section{
        width: 29%;
        height: 100%;
        display: none;
    }
    /* service section */
    .service-section-inner-container{
        width: 100%;
        margin: 2rem auto;
    }
    .service-section-inner-container .hide{
        display: block;
    }
    .service-section-inner-container .visible{
        display: none;
    }
    .content-container{
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 2rem;
        overflow: hidden;
    }
    .img-container{
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;
    }
    .content-container h2{
        margin-bottom: 2rem;
    }
    /* Contact Us */
    .contact-us-text{
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 3rem;
        font-weight: bold;
        text-align: center;
    }
    #contact-section{
        background: #EDF1FA;
        background-size: cover;
        background-position: center;
        padding-top: 1px;
    }
    #contact-section .container{
        width: 90%;
    }
    .contact-container{
        width: 100%;
    }
    .contact-container .left-section{
        width: 80%;
        display: block;
        margin: auto;
        padding: 3rem 2rem ;
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
    }
    .contact-container .right-section{
        display: inline-block;
        width: 40%;
        padding-left: 5rem;
        margin-top: 2rem;
        display: none;
    }
    .right-section p,.right-section h4{
        line-height: 2rem;
    }
    #contact-section i{
        color: #F7022E;
    }
    .textarea{
        height: 20px;
    }
}
/* media query for mobile */
@media(max-width: 600px){
    
    /* footer */
    #footer .first-section,#footer .second-section,#footer .third-section{
        display: inline-block;
        width: 100%;
        margin-top: 1rem;
    }
    #footer .second-section{
        margin-left: 0rem;
    }
}