<header>
  <nav>
    <div class="container">
      <div id="logo">
        <img src="imgs/logo-text-cropped.png" alt="Stargate-logo">
      </div>
      <input type="checkbox" id="check">
      <label for="check" id="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <div id="nav-links">
        <ul>
          <li><a href="index.html">Home</a></li>
          <div class="dropdown">
            <button>Stargate Skylinks <i class="fa-solid fa-caret-down dropdown-size"></i></button>
            <div class="dropdown-options">
              <div class="first-option">
                <a href="stargate-academy.html">Stargate Academy & Career Solutions</a>
              </div>
              <hr>
              <div class="second-option">
                <a href="stargate-skylinks.html">Stargate Skylinks</a>
              </div>
            </div>
          </div>
          <li><a href="#testimonials-section">Testimonials</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
